@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
/* Example: Import modal styles in your main CSS file */
@import url("../src/components/modal-styles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: white;
}

.homeimage {
  transform: scaleX(-1);
}

.loader {
  border-top-color: #3490dc;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.9);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  margin: auto;
}

.sticky {
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 5px rgba(247, 255, 107, 0.5);
  background-color: rgba(54, 54, 54, 0.6);
  margin: auto;
  width: 70%;
  position: sticky;
  border-radius: 0 0 30px 30px;
}

.sticky a {
  color: rgba(225, 225, 225, 1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.navbar a:hover {
  color: #fffcb0;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

section {
  height: 100%;
  scroll-snap-align: center;
}

@layer utilities {
  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-24;
  }
}

.navParent {
  gap: 43rem;
}

.no-scroll {
  overflow: hidden;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

.hero-btn {
  display: grid;
  position: absolute;
  width: 45px;
  height: 45px;
  place-items: center;
  top: 50%;
  border: 1px solid yellow;
}

.home-image {
  position: absolute;
  /* object-position: var(--object-position, left 50%); */
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  /* transform: scaleX(-1); */
  overflow: hidden;
  animation: cresendo linear forwards;
}

.judul {
  font-size: 48px;
  line-height: 38px;
}

.judulContainer {
  display: block;
  justify-content: center;
  width: 70%;
}

@media (min-width: 1024px) {
  .home-image {
    object-position: center;
  }
}

.parentHero {
  height: 100%;
  overflow: hidden;
}

/* CARD ----------------------------------- */

.card-container {
  @apply flex flex-col py-2 pl-4;
}

.card-image {
  @apply h-[300px] w-full;
}

.price-tag {
  @apply flex items-end justify-end px-4 pb-4 font-semibold text-orange-500 md:text-base;
}

/* .Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  transition: transform 1 ease-out;
  z-index: 1050;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1040;
  transition:
    opacity 0,
    3 ease-out;
}

.Modal--open {
  opacity: 1;
}

.Overlay--open {
  opacity: 1;
} */

@keyframes cresendo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale {
  animation: cresendo 30s ease-in-out infinite;
}

/* .OurProduct {
  background-color: transparent;
  backdrop-filter: blur(80px);
  background-image: linear-gradient(
    120,
    rgba (225, 225, 225, 0, 3),
    rgba (0, 0, 0, 0.2)
  );
} */

/* OUR MENU SECTION */

@keyframes hoverMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes clickMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover-animation:hover {
  animation: hoverMove 0.5s ease-in-out;
}

.click-animation:active {
  animation: clickMove 1s ease-in-out;
}

.will-animate {
  will-change: opacity, transform;
}
